[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/awww-daemon
; ExecStartPost=/bin/sleep 0.5 && /usr/bin/awww img /home/ai/Pictures/OverView/overview_blur_1.png
Restart=on-failure
