[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/awww-daemon
; ExecStartPost=/bin/sleep 0.5 && /usr/bin/awww img /home/YOU/Pictures/OverView/OverView_blur_1.jpg
Restart=on-failure
